@page
@model ProjektopgaveE23.Pages.Boats.BookBoatModel
@{
    ViewData["Title"] = "Book båd";
}

<h1>Book båd</h1>

<div class="card">
    <form method="post">
        <input type="hidden" asp-for="@Model.Boat.Id" />
        <div class="form-group">
            <label asp-for="@Model.Boat.Name" class=" control-label"></label>
            <input asp-for="@Model.Boat.Name" class="control-label" disabled />
        </div>
        @* <div class="form-group">
        <label class="control-label">Bruger</label>
        <select asp-for="@Model.BoatBooking.Usename" asp-items="@Model.UserNames" class="form-control">
        <option value="">--vælg bruger--</option>
        </select>
    </div> *@
    
    <span class="text-danger">@Model.Message</span>
    <div class="form-group">
        <label asp-for="@Model.BoatBooking.DateTime" class="control-label"></label>
        <input asp-for="@Model.BoatBooking.DateTime" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="@Model.BoatBooking.NumberOfHours" class="control-label"></label>
        <input asp-for="@Model.BoatBooking.NumberOfHours" class="form-control" />
    </div>
    <br />
     
    
    <div class="form-group">
        <input type="submit" value="Lav booking" class="btn btn-primary" />

    </div>
        </div> *@


        <div class="form-group">
            <label asp-for="@Model.BoatBooking.DateTime" class="control-label"></label>
            <input asp-for="@Model.BoatBooking.DateTime" class="form-control" />
            <span asp-validation-for="BoatBooking.DateTime" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.BoatBooking.NumberOfHours" class="control-label"></label>
            <input asp-for="@Model.BoatBooking.NumberOfHours" class="form-control" />
        </div>
        <br />


        <div class="form-group">
            <input type="submit" value="Lav booking" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-warning">Back to List</a>
        </div>


    </form>
</div>