@page
@model ProjektopgaveE23.Pages.Boats.BookBoatModel
@{
    ViewData["Title"] = "Book båd";
}

<h1>Book båd</h1>
<form method="post">
    @* <div class="form-group">
        <label class="control-label">Bruger</label>
        <select asp-for="@Model.BoatBooking.Usename" asp-items="@Model.UserNames" class="form-control">
            <option value="">--vælg bruger--</option>
        </select>
    </div> *@
    <div class="form-group">
        <label class="control-label">Båd</label>
        <select asp-for="@Model.BoatBooking.BoatId" asp-items="@Model.BoatNames" class="form-control">
            <option value="">--Vælg båd--</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BoatBooking.DateTime" class="control-label"></label>
        <input asp-for="@Model.BoatBooking.DateTime" class="form-control" />
    </div>
    <br />
    @* <div class="form-group">
        <label asp-for="@Model.BoatBooking.NumberOfDays" class="control-label"></label>
        <input asp-for="@Model.BoatBooking.NumberOfDays" class="form-control" />
    </div>
    <br /> *@
        
    </div>
    <br />
    
    
    
    <div class="form-group">
        <input type="submit" value="Lav booking" class="btn btn-primary" />

    </div>


</form>
