@page
@model ProjektopgaveE23.Pages.Boats.EditBoatModel
@{
    ViewData["Title"] = "Edit Boat";
}

<h1>Edit Boat</h1>

<form method="post">

    <input type="hidden" asp-for="@Model.BoatToUpdate.Id" />
    <div class="form-group">
        <label asp-for="@Model.BoatToUpdate.Name" class=" control-label"></label>
        <input asp-for="@Model.BoatToUpdate.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.BoatToUpdate.Description" class=" control-label"></label>
        <input asp-for="@Model.BoatToUpdate.Description" class="form-control" />
    </div>
    
    <div class="form-group">
        <input type="submit" value="Update boat" asp-page-handler="Update" class="btn btn-primary" />
        <input type="submit" value="Delete boat" asp-page-handler="Delete" class="btn btn-primary" />
    </div>
</form>
