@page
@using ProjektopgaveE23.Models;
@model ProjektopgaveE23.Pages.Boats.EditBoatModel
@{
    ViewData["Title"] = "Rediger bådoplysninger";
}

<h1>Rediger bådoplysninger</h1>

<div class="card">
    <form method="post">

        <input type="hidden" asp-for="@Model.BoatToUpdate.Id" />
        <div class="form-group">
            <label asp-for="@Model.BoatToUpdate.Name" class=" control-label">Navn</label>
            <input asp-for="@Model.BoatToUpdate.Name" class="form-control" />
            <span asp-validation-for="BoatToUpdate.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.BoatToUpdate.Description" class=" control-label">Beskrivelse</label>
            <input asp-for="@Model.BoatToUpdate.Description" class="form-control" />
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.BoatToUpdate.BoatModel" class="control-label">Bådtype</label>
            <br />
            <select asp-for="@Model.BoatToUpdate.BoatModel" asp-items="Html.GetEnumSelectList<BoatType>()">
                <option selected="selected" value="">Vælg venligst</option>
            </select>
            <span asp-validation-for="BoatToUpdate.BoatModel" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" value="Opdater båd" asp-page-handler="Update" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-warning">Tilbage til oversigten</a>
            @* <input type="submit" value="Slet båd" asp-page-handler="Delete" class="btn btn-primary" /> *@
        </div>
    </form>
</div>