@page


@model ProjektopgaveE23.Pages.Boats.IndexModel
@{
    ViewData["Title"] = "Bådliste";
}

<h1>Bådliste</h1>

@if (Model.CurrentUser != null)
{
    @if (Model.CurrentUser.Admin)
    {
        <a asp-page="AddBoat" class="btn btn-secondary">Tilføj ny båd</a>
    }
}

<form>
    search: <input type="text" asp-for="@Model.FilterCriteria" />
    <input type="submit" value="Filter" />
</form>

@* <select asp-for="@Model.FilterCriteria" asp-items="Html.GetEnumSelectList<BoatType>()">
    <option selected="selected" value="">Vælg venligst</option>
</select> *@

<table class="table">
    <thead>
        <tr>
            <th>Billede</th>
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Model type</th>
            
        </tr>
    </thead>
    @foreach (var item in Model.Boats)
    {
        <tr>
            <td>
                <img src="~/images/boatimages/@item.BoatImage" width="160" height="140" />
            </td>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.BoatModel</td>

            @if (Model.CurrentUser != null)
            {
                if (!Model.CurrentUser.Admin)
                {
                    <td><a asp-page="BookBoat" asp-route-id="@item.Id">Book</a></td>
                }

                if (Model.CurrentUser.Admin)
                {
                    <td><a asp-page="BookBoat" asp-route-id="@item.Id">Book</a></td>
                    <td><a asp-page="EditBoat" asp-route-id="@item.Id">Rediger</a></td>
                    <td><a asp-page="DeleteBoat" asp-route-DeleteId="@item.Id">Slet</a></td>
                }

            }
            @* <td><a asp-page="BookBoat" asp-route-id="@item.Id">Book</a></td>
            <td><a asp-page="EditBoat" asp-route-id="@item.Id">Rediger</a></td>
            <td><a asp-page="DeleteBoat" asp-route-DeleteId="@item.Id">Slet</a></td> *@
        </tr>
    }
