@page
@model ProjektopgaveE23.Pages.Boats.IndexModel
@{
    ViewData["Title"] = "Bådliste";
}

<h1>Bådliste</h1>

<p>
    <a asp-page="AddBoat">Tilføj ny båd</a>

</p>



<table class="table">
    <thead>
        <tr>
            
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Model type</th>
            
        </tr>
    </thead>
    @foreach (var item in Model.Boats)
    {
        <tr>
            
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.BoatModel</td>
            
            <td><a asp-page="BookBoat">Book</a></td>
            <td><a asp-page="EditBoat" asp-route-id="@item.Id">Rediger</a></td>
            <td><a asp-page="DeleteBoat" asp-route-DeleteId="@item.Id">Slet</a></td>
        </tr>
    }
