@page
@using ProjektopgaveE23.Interfaces;
@using ProjektopgaveE23.Services;

@inject IBoatRepository boatRepository;
@inject IUserRepository userRepo;
@model ProjektopgaveE23.Pages.Boats.ListBoatBookingsModel
@{
    ViewData["Title"] = "List bookings";
}
<h1>Liste af båd bookings</h1>

@* <div>
    <ul>
        <li> Der er @repo.GetAllBoatBookings().Count båd bookninger</li>
    </ul>
</div> *@

<table class="table">
    <thead>
        <tr>
            <th>
                BookingId
            </th>
            <th>
                Båd navn
            </th>
            <th>
                Bruger
            </th>
            <th>Dato</th>
            <th>Tidspunkt</th>
            <th>Til Kl</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @item.BookingId
                </td>
                <td>
                    @boatRepository.GetBoat(item.BoatId).Name
                </td>
                <td>
                    @userRepo.GetUser(item.Username).Name
                </td>
                <td>
                    @item.DateTime.ToShortDateString()
                </td>
                <td>
                    @item.DateTime.ToShortTimeString()
                </td>
                <td>
                    @item.DateTime.AddHours(item.NumberOfHours*1.0).ToShortTimeString()
                </td>
                <td></td>
                <td></td>
                <td>
                    <a asp-page="DeleteBoatBooking" asp-route-Code="@item.BookingId">Slet</a>
                </td>
            </tr>
        }
    </tbody>
</table>
