@page
@using ProjektopgaveE23.Interfaces;
@model IndexModel
@inject IBoatRepository boatRepository;
@inject IUserRepository userRepo;
@{
    ViewData["Title"] = "Home page";
}

<head>
    <link rel="stylesheet" href="~/css/homepage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>
@* <div class="header">
    <h1>Hillerød sejlklub</h1>
</div> *@

<div class="row">
    <div class="leftcolumn">
        <div class="card" align="center" >
            <h2>Velkommen til Hillerød Sejlklub</h2>
            <h5>En klub for jollesejlere</h5>
            <div align="center"><img src="~/images/boooat.jpg" height="300px" class="responsive"></div>
            <p>Bor du i Hillerød kommune og omegn, og har lyst til at sejle? Det har vi også :)</p>
            <p>Du kan se events, booke en båd, og holde dig opdateret med sejlklubben, ved enten at klikke på vores links ovenover, eller de hurtige knapper længere nede på siden.</p>
        </div>

        <div class="card" align="center">
            <h2>Igangværende sejlere</h2>
@*             <h5>To be made</h5>
            <p>Some text..</p>
 *@
            <table class="table">
                <thead>
                    <tr>
                        <th>Båd navn</th>
                        <th>Medlem</th>
                        <th>Dato</th>
                        <th>Tidspunkt</th>
                        <th>Til Kl</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model.Bookings)
                    {
                        <tr>
                            <td>@boatRepository.GetBoat(item.BoatId).Name</td>
                            <td>@userRepo.GetUser(item.Username).Name</td>
                            <td>@item.DateTime.ToShortDateString()</td>
                            <td>@item.DateTime.ToShortTimeString()</td>
                            <td>@item.EndDateTime.ToShortTimeString()</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>

    </div>
    

    <div class="rightcolumn">
        <div class="card">
            <h2>Om os</h2>
            <div align="center"><img src="~/images/Pooul.jpg" height="100px" class="responsive"></div>
            <br />
            <p>
                Hillerød Sejlklub er en klub for jollesejlere
                Vi har altid plads til børn og voksne, som vil sejle for deres fornøjelses skyld, 
                for det sociale samvær, og evt. selv medvirke eller støtte andre sejlere i konkurrencesejlads..
            </p>
        </div>
        <div class="card">
            <h3>Genveje</h3>
            <a asp-page="events/index" class="btn btn-secondary">Begivenheder</a><br />
            <a asp-page="boats/index" class="btn btn-secondary">Både</a><br />
            <a asp-page="blogsection/index" class="btn btn-secondary">Blog</a>
        </div>
        <div class="card">
            <h3>Følg os her</h3>
            <p><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/hillerodsejl/">Facebook</a></p>
            <p><i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/">Instagram</a></p>
            <p><i class="fa-solid fa-sailboat"></i> <a href="http://hillerodsejlklub.dk/">Vores gamle hjemmeside</a></p>
        </div>
    </div>
</div>

<br />
<br />
<br />

