@page
@model ProjektopgaveE23.Pages.BlogSection.IndexModel
@{
    ViewData["Title"] = "Blog";
}




<div class="header">
    <h1> <span class="material-icons md-36">sailing</span> Klubbens blog <span class="material-icons md-36">sailing</span></h1>
</div>


@if (Model.CurrentUser!=null)
{
    @if (Model.CurrentUser.Admin)
    {
        <br />
        <a asp-page="AddPost" class="btn btn-secondary">Opret nyt blogindlæg</a>

    }
}




@foreach (var item in Model.Posts)
{
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2 align="center">@item.Title</h2>
                <h7 align="center">@item.Date.ToString("dddd, dd MMMM yyyy HH:mm")</h7>
                <div align="center"><img src="~/images/blogimages/@item.BlogImage" height="400px"></div>
                <br>
                @* <p align="center">@item.Text</p> *@
                <pre align="center" style="font-family:Verdana">@item.Text</pre>

                <div>
                    @if (Model.CurrentUser != null)
                    {
                        @if (Model.CurrentUser.Admin)
                        {
                            <a asp-page="DeletePost" asp-route-deleteId="@item.Id" class="btn btn-secondary">Slet blogindlæg</a>
                            <a asp-page="EditPost" asp-route-id="@item.Id" class="btn btn-secondary">Rediger blogindlæg</a>

                        }
                    }
                </div>
                
            </div>
        </div>
    </div>
}

<br />
<br />
<br />


@* <style>
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    body {
        font-family: Arial;
        background: #f1f1f1;
    }

    * {
        box-sizing: border-box;
    }

    .header {
        padding: 30px;
        font-size: 40px;
        text-align: center;
        background: #A3CEF1;
        width: 35%;
    }

    
</style> *@