@page
@model ProjektopgaveE23.Pages.Users.InfoModel
@{
    ViewData["Title"] = "Brugerinfo";
}

<h1>Velkommen til din side, @Model.CurrentUser.Username!</h1>
<h2>Info:</h2>

<label>Brugernavn: </label> @Model.CurrentUser.Username
<br />
<label>Navn:</label> @Model.CurrentUser.Name
<br />
<label>E-mail: </label> @Model.CurrentUser.Email
<br />
<label>Telefonnummer: </label> @Model.CurrentUser.PhoneNumber
<br />
<label>Medlemstype:</label> @Model.CurrentUser.MembershipType
<br />
@if(Model.CurrentUser.Admin)
{
    <label>Adminstrator.</label>
    <p><a asp-page="Index">Se oversigt over brugere her.</a></p>
}
<br />
<a asp-page="UpdateUser" asp-route-username="@Model.CurrentUser.Username">Opdater</a> | <a asp-page="/Users/Login" asp-page-handler="Logout">Log ud</a>
<br />
<a asp-page="DeleteUser" asp-route-username="@Model.CurrentUser.Username">Fjern</a>