@page
@model ProjektopgaveE23.Pages.Events.DeleteEventBookingModel
@{
    ViewData["Title"] = "Slet tilmelding";
}

<h1>Slet tilmelding</h1>

<div class="card">

    @Model.Message
    <form method="post">
        <div class="form-group">
            <table>
                <tr>
                    <th>Dato</th>
                    <td>@Model.Event.Date.ToString("dddd, dd. MMMM yyyy")</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>@Model.BookingToDelete.ID</td>
                </tr>
                <tr>
                    <th>Navn</th>
                    <td>@Model.BookingToDelete.Username</td>
                </tr>
                <tr>
                    <th>Antal deltager </th>
                    <td>@Model.BookingToDelete.AttendeesPerBooking</td>
                </tr>
                <tr>
                    <th>Begivenhed</th>
                    <td>@Model.Event.Name</td>
                </tr>

            </table>

            <br />
            <input type="submit" asp-page-handler="Delete" asp-route-idNumber="@Model.BookingToDelete.ID" class="btn btn-danger" value="Slet tilmelding" />
            <input type="submit" value="Fortryd" class="btn btn-warning" asp-page-handler="Cancel" />



        </div>
    </form>
</div>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th {
        background-color: #A3CEF1;
    }

    th, td {
        padding: 15px;
    }

    .card {
        width: 35%;
    }

</style>