@page
@model ProjektopgaveE23.Pages.Events.IndexModel
@{
    ViewData["Title"] = "Event Index";
}

<h1>Klubbens Begivenheder</h1>

<a asp-page="AddEvent" class="btn btn-secondary">Opret begivenhed</a>
@* <p><a asp-page="AddEvent">Opret ny begivenhed</a></p> *@

<table class="table">
    <thead>
        <tr>
            <th>Billede</th>
            <th>ID</th>
            <th>Dato</th>
            <th>Navn</th>
            <th>Afholdelsessted</th>
            <th>Beskrivelse</th>
            <th>Antal deltagere</th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    <img src="~/images/eventimages/@item.Image" width="150" height="150">
                </td>
                <td>@item.Id</td>
                <td>@item.Date</td>
                <td>@item.Name</td>
                <td>@item.Place</td>
                <td>@item.Description</td>
                <td>@item.Attendees</td>
                <td><a asp-page="BookEvent" asp-route-id="@item.Id">Tilmelding</a></td>
                <td><a asp-page="EditEvent" asp-route-id="@item.Id">Rediger</a></td>
                <td><a asp-page="DeleteEvent" asp-route-deleteId="@item.Id">Slet</a></td>
            </tr>
        }
    </tbody>
</table>