@page
@model ProjektopgaveE23.Pages.Events.ListEventBookingModel
@{
    ViewData["Title"] = "Tilmeldingsliste";
}

<h1>Tilmeldinger til @Model.Event.Name</h1>

@if (Model.CurrentUser != null)
{
    @if (Model.CurrentUser.Admin)
    {
        <h3>Antal tilmeldte: @Model.EventCount </h3>
    }
}

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>Booking id</th>
                <th>Medlem</th>
                <th>begivenhedsid</th>
                <th>antal deltagere</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EventBookings)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.Username</td>
                    <td>@item.EventID</td>
                    <td>@item.AttendeesPerBooking</td>
                    <td><a asp-page="DeleteEventBooking" asp-route-deleteId="@item.ID" asp-page-handler="Del" class="btn btn-danger">Slet</a></td>
                </tr>
            }

        </tbody>

    </table>
    <div><a asp-page="Index" class="btn btn-warning">Tilbage</a></div>

</div>




<style>
    th {
        background-color: #274C77 !important;
        color: white;
    }

    tr {
        backgroud-color: 8B8C89 !important;
    }

    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
    }

    body {
        font-family: Arial;
        background: #f1f1f1;
    }
</style>
